<h2 style="color: #66FFFF"> <%= @user.username.capitalize %>'s Profile </h2>
<h5>Email: <%= @user.email %> </h5></br>
 <% @user.tips.each.with_index(1) do |tips, index| %>
    <h4 style="color: #66FFFF"><%= index %> <%= tip.content %> </h5>
    <p>Language: <%= tip.language.name %> </p></br>
 <% end %>
